*{
  padding: 0px;
    margin: 0px;
    border: none;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color:inherit;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body{
  margin: 0;
  background-color: black;
  font-family: 'Inter', sans-serif;
}

.container{
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;

}
.nav{
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #9B51E0;
 padding: 20px 100px ;

}
.menu{
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  color: #fff;
}
.menu-link{
  font-size: 20px;
  line-height: 24px;
}
.logo{
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

.home-container{
  max-width: 1065px;
  margin: 0 auto;
  padding: 0 15px;
}
.home-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}
.home-title{
  max-width: 500px;
  font-size: 37px;
  font-weight: 500;
 color: #fff;
}
    
.about-me-container{
  max-width: 1065px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 80px;
  padding-bottom: 160px;
}
.about-me-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}  
.about-me-tittle{
  max-width: 500px;
  font-size: 26px;
  font-weight: 500;
 color: #fff;
 text-align: right;
}

.skills-container{
  max-width: 1065px;
  margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 80px;
}
.portfolio-container{
  padding-top: 80;
  max-width: 1315px;
  margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 80px;
}
.portfolio-tittle{
  display: flex;
  top: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #9B51E0;
 padding: 20px 100px 20px ;
 font-size: 30px;
 color: #fff;
 font-weight: 700;
 border-radius: 30px;
}
.photo-content{
  padding-top: 80px;
}
.contacts-container{
  padding-top: 80;
  max-width: 1315px;
  margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 200px;
}
.h3 {
  font-size: 50px;
  text-align: center;
  /* max-width: 372px; */
  margin-top: 70px;
  padding: 26px 0px;
  background-color: #9B51E0;
  color: #fff;
  border-radius: 30px;
}
.contacts-content {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

a, a:link, a:visited {
    text-decoration: none;
}
.contacts-a {
    font-size: 38px;
    text-align: center;
    /* max-width: 372px; */
    margin-top: 20px;
    padding: 40px 125px;
    background-color:#9B51E0;
    color: #fff;
    border-radius: 20px;
  }
  .container-footer{
    padding-top: 200;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px; 
  
  }
  .footer-nav {
    display: flex;
  
    justify-content: space-between;
    align-items: center;
   
}

.footer-list {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}


@media(min-width: 375px){

.home-container, .about-me-container, .skills-container, .portfolio-container, .contacts-container, .container-footer{ 
max-width: 100%;
}

}